.upPartWelcome{
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0.5rem;
    
}
.upPartDetail{
    font-size: 2rem;
}
.Middle{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.lowerMiddle{
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}
.lower{
    font-size: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    text-align: center;
    font-weight: bold;
}
.bottom{
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0rem;
    text-align: center;
    font-style: italic;
}

@media only screen and (max-width: 480px) {
    .lower{
        font-size: 1rem;
    }
}