input[type=checkbox] {
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    top: 0.25rem;
}

textarea {
    resize: vertical;
}

.dateFormat {
    display: block;
}

.lookupInput {
    vertical-align: inherit;
    display: block;
}

.datePicker .dateBar select {
    width: inherit;
    height: inherit;
    padding: inherit;
    margin-top: inherit;
    margin-right: inherit;
}

.datePicker .dateBar select:focus {
    outline: none;
}

.multiSelectPicklistRow {
    display: none;
}