.include_bid{
    margin-top: 5px;
}
.create_bids_button{
    float: right;
    margin-right: -173px;
    
}
.add_button{
    margin-right: 15px;
    margin-top: 1px;
}
.date_input{
    margin-top: 21px;
}
/* .add_button{
    margin-top: -4px;
} */